<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <style>
        .page-map {
            margin-left: 32px;
            display: block;
            padding-bottom: 16px;
        }

        .page-map-icon {
            margin: 20px 5px;
        }

        .page-map .current-page {
            color: #07689F;
            font-weight: bold;
        }

        div.main-content-with-sidebar {
            padding: 0 10% 0 5%;
        }

        .teacher-list img {
            margin: 4%;
            width: 92%;
            height: 15em;
            border-radius: 10px;
            object-fit: cover;
        }

        .flex {
            display: flex;
        }

        .container.details {
            width: 230%;
            margin-left: 1%;
        }

        .container.info {
            margin-right: 5%;
        }


        h5 {
            color: #40A8C4;
            font-weight: 600 !important;
        }

        h3,
        h4,
        h6 {
            font-weight: 640;
        }

        ul {
            padding-left: 0px;
            list-style-type: none;
        }

        .info li::before {
            content: "•";
            color: #666666;
            margin-right: 10px;
        }

        .vertical-center {
            margin: auto 0;
        }

        .booking-btn {
            width: 100%;
            height: 61px;
            font-weight: 600;
            background: linear-gradient(180deg, #40A8C4 -18.85%, #07689F 115.57%);
            box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
            border-radius: 10px;
        }

        button:disabled,
        button[disabled] {
            background: linear-gradient(180deg, #D8D8D8 -18.85%, #D8D8D8 115.57%);
            color: #999999 !important;
            box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
            border-radius: 10px;
            border-color: #D8D8D8 !important;
        }
    </style>
    <title>Eksplorasi - Detail GuruKu</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body>

    <link rel="stylesheet" href="/css/style.css">
    <title>Hello, world!</title>
    </head>

    <body>
        <!-- sidebar sction -->
        <nav id="sidebar" class="active">
            <div class="p-4">
                <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
                <ul id="sidebar-list" class="components mb-5">
                    <li class="list">
                        <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Dashboard</span></a>
                    </li>
                    <li class="list active">
                        <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Eksplorasi</span></a>
                    </li class="list">
                    <li>
                        <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Kegiatan</span></a>
                    </li>
                    <li class="list">
                        <a href="/parent/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Profil</span></a>
                    </li>

                    <br><br><br><br><br><br><br><br>
                    <li class="list">
                        <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                            <span class="sidebar-text">Logout</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- main section -->

        <div id="" class="main-content-with-sidebar p-4 p-md-5 pt-5">
            <p class="page-map">Ekesplorasi <span class="page-map-icon">></span> <span class="current-page">Detail
                    GuruKu</span></p>
            <div class="flex">
                <!-- teacher's detail -->
                <div class="container details">
                    <div class="card">
                        <div class="card-body">
                            <div class="flex">
                                <img class="mx-3" src="<%= teacher.avatar %> " alt="" width="30%"
                                    style="border-radius: 50%; width: 26%;">
                                <div class="text vertical-center">
                                    <h3 class="card-title"><%= teacher.nama %> </h3>
                                    <p class="card-text"><%= teacher.mata_pelajaran  %> </p>
                                    <p class="card-text text-with-icon"><i class="ri-map-pin-range-line mr-3"></i><small
                                            class="text-muted"><%= teacher.kecamatan  %> ,
                                            <%= teacher.kelurahan  %> </small></p>
                                    <br>
                                    <h5 class="card-title"><%= teacher.biaya  %> /jam </h5>
                                </div>
                            </div>
                            <hr>
                            <h4>Metodologi</h4>
                            <p class="text-justify"><%= teacher.metodologi %> </p>
                            <br>
                            <h4>Latar Belakang</h4>
                            <p class="text-justify"><%= teacher.latar_belakang %> </p>
                        </div>
                    </div>
                </div>


                <!-- right container -->
                <div class="container info">
                    <!-- booking button -->
                    <button type="button" id="<%= teacher.id %>" class="btn btn-primary booking-btn" onclick="postId()"
                        data-toggle="modal" data-target="#success-msg">
                        Booking Sekarang
                    </button>
                    <!-- <a href="/parent/eksplorasi/booking/<%= teacher.id %> " class="btn btn-primary booking-btn">Booking Sekarang</a> -->



                    <!-- Modal -->
                    <!-- <div class="modal fade" id="success-msg" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content rounded-3">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <h3 class="modal-title">Masuk</h3>
                                <div class="modal-body text-center">
                                    <p>
                                        <a class="btn btn-login-parent" href="/login/parent">Masuk
                                            sebagai orang tua</a>
                                        <p></p>
                                        <a class="btn btn-login-teacher" href="/login/teacher">
                                            Masuk
                                            sebagai guru</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <!-- teacher's info -->
                    <br><br>
                    <div class="card">
                        <div class="card-body">
                            <p class="text-with-icon">Profil dan ijazah terverifikasi <i class="ri-checkbox-circle-line"
                                    style="margin-left: auto; margin-right: 0; font-size: 25px;"></i></p>
                            <h6 class="text-with-icon">Sudah Vaksinasi<i class="ri-checkbox-circle-fill"
                                    style="margin-left: auto; margin-right: 0; font-size: 25px; color: #47BE44;"></i>
                            </h6>

                            <hr>

                            <h6>Jenis kursus</h6>
                            <ul class="info">
                                <li>Privat</li>
                            </ul>
                            <h6>Kursus yang akan diadakan</h6>
                            <ul class="info">
                                <li>Di rumah</li>
                                <li>Online dengan webcam</li>
                            </ul>
                            <h6><%= teacher.mata_pelajaran %> </h6>
                            <ul class="info">
                                <li>Matematika</li>
                            </ul>
                            <h6>Tingkat</h6>
                            <ul class="info">
                                <li><%= teacher.tingkat %> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script> -->

        <script>
            function postId() {
                const id = event.target.id
                $.ajax({
                    url: `/parent/eksplorasi/booking/${id}`,
                    type: 'GET',
                    success: res => {
                        alert("Guru bersangkutan sudah kamu booking")
                        document.getElementById(`${id}`).setAttribute("disabled", "")
                    }
                })
            }
        </script>


        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    </body>

</html>