<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcom to Guruku</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />

    <style>
        .bg-img {
            position: fixed;
        }

        .main-content {
            margin-left: auto;
            margin-right: 0;
            width: 45%;
        }
    </style>
</head>

<body>
    <div class="container justify-content-between">

        <div class="col-5 bg-img">
            <img src="/img/signup-bg.png" />
        </div>
        <div class="col-6 mt-auto main-content">
            <div class="row justify-content-center">
                <img class="logo-login" src="/img/logo-dark.png" alt="..." />
            </div>
            <div class="row">

                <div class="card border-0 shadow rounded-3 my-3">
                    <div class="card-body p-sm-3 my-5 mx-3">
                        <h3 class="card-title text-center mb-4 fs-3">Daftar </h3>

                        <form method="POST" action="/register">
                        <!-- <form> -->
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Nama</label>
                                <input type="text" class="form-control" name="nama" id="nama" placeholder="nama kamu">
                                <small id="namacheck" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" name="email" id="email" autocomplete="off"
                                    placeholder="contoh: namakamu@gmail.com" >
                                <small id="emailvalid" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" name="password" id="password" value=""
                                    placeholder="password" >
                                <small id="passcheck" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_password" id="conpassword"
                                    value="" placeholder="tulis lagi password kamu" >
                                <small id="conpasscheck" style="color: red;">
                                </small>
                            </div>

                            <div class="form-outline"></div>
                            <label for="inputRoles" class="col-form-label">Role</label>
                            <div class="col-sm-10"></div>
                            <div class="form-group me-4">
                                <div class="form-check form-check-inline ">
                                    <input type="radio" id="customRadioInline1" name="role" value="parent"
                                        class="form-check-input">
                                    <label class="custom-control-label" for="customRadioInline1">Orang Tua</label>
                                </div>
                                <div class="form-check form-check-inline ">
                                    <input type="radio" id="customRadioInline2" name="role" value="teacher"
                                        class="form-check-input">
                                    <label class="custom-control-label" for="customRadioInline2">Guru Privat</label>
                                </div>
                                <div class="form-group mb-4">
                                    <small id="rolecheck" style="color: red;">
                                    </small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="provinsi-list">Provinsi</label>
                                    <select class="form-control" id="provinsi-list" required>
                                        <option disabled selected hidden>provinsi kamu</option>
                                    </select>
                                    <small id="provcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="provinsi" type="text" id="destination-provinsi" hidden>

                                <div class="form-group mb-3">
                                    <label for="kabupaten-list">Kota/Kabupaten</label>
                                    <select class="form-control" id="kabupaten-list" disabled>
                                        <option disabled selected hidden>kota/kabupaten kamu</option>
                                    </select>
                                    <small id="kabcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kabupaten" type="text" id="destination-kabupaten" hidden>

                                <div class="form-group mb-3">
                                    <label for="kecamatan-list">Kecamatan</label>
                                    <select class="form-control" id="kecamatan-list" disabled>
                                        <option disabled selected hidden>kecamatan kamu</option>
                                    </select>
                                    <small id="keccheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kecamatan" type="text" id="destination-kecamatan" hidden>

                                <div class="form-group mb-3">
                                    <label for="kelurahan-list">Kelurahan</label>
                                    <select class="form-control" id="kelurahan-list" disabled>
                                        <option disabled selected hidden>kelurahan kamu</option>
                                    </select>
                                    <small id="kelcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kelurahan" type="text" id="destination-kelurahan" hidden>

                            </div>

                            <!-- Check -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="centang" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Saya setuju dengan kebijakan dan syarat privasi
                                </label>
                                <small id="endcheck" style="color: red;">
                                </small>
                            </div>
                            <br><br>
                            <!-- Submit Button -->
                            <div class="text-center mb-3">
                                <button type="submit" id="submitbtn" class="btn btn-primary">Daftar</button>
                            </div>

                            <!-- Link -->
                            <br>
                            <div class="text-center mb-3">
                                <p>Sudah memiliki akun? <a class="text" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">Masuk</a></p>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content rounded-3">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <h3 class="modal-title">Masuk</h3>
                                        <div class="modal-body text-center">
                                            <p>
                                                <a class="btn btn-login-parent" href="/login/parent">Masuk
                                                    sebagai orang tua</a>
                                                <p></p>
                                                <a class="btn btn-login-teacher" href="/login/teacher">
                                                    Masuk
                                                    sebagai guru</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script>
        $(document).ready(function () {
            function validateNama(){
                let namaValue = $('#nama').val();
                if(namaValue == ''){
                    $('#namacheck').html('nama masih kosong');
                    return false   
                }else{
                    $('#namacheck').html('');
                    return true;
                }
            }

            function ValidateRegex(mail){
                let regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                if (regex.test(mail))
                {
                    return (true)
                }
                return (false)
            }
            function validateEmail(){
                let emailValue = $('#email').val();
                if(emailValue == ''){
                    $('#emailvalid').html('email masih kosong');
                    return false;
                }else if(!ValidateRegex(emailValue)){
                    $('#emailvalid').html('email tidak valid');
                    return false;
                }else{
                    $('#emailvalid').html('');
                    return true;
                }
            }

            function validateAlamat(){
                let namaValue = $('#alamat').val();
                if(namaValue == ''){
                    $('#alamatcheck').html('alamat masih kosong');
                    return false   
                }else{
                    $('#alamatcheck').html('');
                    return true;
                }
            }

            function validatePassword(){
              let passValue = $('#password').val();
              if(passValue == ''){
                  $('#passcheck').html('password masih kosong');
                  return false;
              }else if(passValue.length < 5){
                  $('#passcheck').html('panjang password minimal 5 karakter');
                  return false;
              }else{
                  $('#passcheck').html('');
                  return true;
              }
            }

            function validateConfirmPassword(){
                let passValue = $('#password').val();
                let con_passValue = $('#conpassword').val();
                if(passValue != con_passValue || passValue == ''){
                    $('#conpasscheck').html('password tidak sama');
                    return false;
                }else{
                    $('#conpasscheck').html('');
                    return true;
                }
            }

            function validateRadioRole(){
                var isValid = $("input[name=role]").is(":checked");
                
                if(!isValid){
                    $('#rolecheck').html('Role Wajib Dipilih');
                    return false
                }else{
                    $('#rolecheck').html('');
                    return true
                }
            }

            function validateProvinsi(){
                let provValue = $('#destination-provinsi').val();
                if(provValue == ''){
                    $('#provcheck').html('domisili(provinsi) masih kosong');
                    return false   
                }else{
                    $('#provcheck').html('');
                    return true;
                }
            }

            function validateKabupaten(){
                let kabValue = $('#destination-kabupaten').val();
                if(kabValue == ''){
                    $('#kabcheck').html('domisili(kabupaten) masih kosong');
                    return false   
                }else{
                    $('#kabcheck').html('');
                    return true;
                }
            }

            function validateKecamatan(){
                let kecValue = $('#destination-kecamatan').val();
                if(kecValue == ''){
                    $('#keccheck').html('domisili(kecamatan) masih kosong');
                    return false   
                }else{
                    $('#keccheck').html('');
                    return true;
                }
            }

            function validateKelurahan(){
                let kelValue = $('#destination-kelurahan').val();
                if(kelValue == ''){
                    $('#kelcheck').html('domisili(kelurahan) masih kosong');
                    return false   
                }else{
                    $('#kelcheck').html('');
                    return true;
                }
            }

            function validateEndCheck(){
                var isEndValid = $("input[name=centang]").is(":checked");
                
                if(!isEndValid){
                    $('#endcheck').html('Persetujuan ini wajib dicentang');
                    return false
                }else{
                    $('#endcheck').html('');
                    return true
                }
            }

            // Submitt button
            $('#submitbtn').click(function () {
                let valid_nama = validateNama();
                let valid_email = validateEmail();
                let valid_pass = validatePassword();
                let valid_con_pass = validateConfirmPassword();
                let valid_radio = validateRadioRole();
                let valid_prov = validateProvinsi();
                let valid_kab = validateKabupaten();
                let valid_kec = validateKecamatan();
                let valid_kel = validateKelurahan();
                let valid_end = validateEndCheck();

                if( (valid_nama == true) && 
                    (valid_email == true) && 
                    (valid_pass == true) && 
                    (valid_con_pass == true) && 
                    (valid_radio == true) && 
                    (valid_prov == true) &&
                    (valid_kab == true) &&
                    (valid_kec == true) &&
                    (valid_kel == true) &&
                    (valid_end == true) ){
                    return true;
                }else{
                    return false;
                }
            });

        });
    </script>

    <script>
        //select elements
        const provinsiListElement = document.getElementById("provinsi-list")
        const kabupatenListElement = document.getElementById("kabupaten-list")
        const kecamatanListElement = document.getElementById("kecamatan-list")
        const kelurahanListElement = document.getElementById("kelurahan-list")

        function resetSelectElement(selectElement) {
            selectElement.selectedIndex = 0; // first option is selected
            console.log(selectElement)
            for (i = selectElement.options.length - 1; i >= 1; i--) {
                selectElement.remove(i);
            }
        }

        const kelurahan = (kecamatanId) => {
            const index = new XMLHttpRequest();
            index.onload = function () {
                const responseText = this.responseText
                const response = JSON.parse(responseText)


                for (const kelurahan of response.kelurahan) {
                    const option = document.createElement("option")
                    option.classList.add("kelurahan-option")
                    option.setAttribute("value", kelurahan.nama)
                    option.setAttribute("name", kelurahan.id)
                    option.innerText = kelurahan.nama

                    kelurahanListElement.append(option)
                }

                kelurahanListElement.addEventListener("change", function () {
                    let namaKelurahan = kelurahanListElement.value;
                    document.getElementById("destination-kelurahan").value = namaKelurahan
                })
            }
            index.open("GET",
                `https://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan=${kecamatanId}`
            );
            index.send();
        }

        const kecamatan = (kabupatenId) => {
            const index = new XMLHttpRequest();
            index.onload = function () {
                const responseText = this.responseText
                const response = JSON.parse(responseText)

                for (const kecamatan of response.kecamatan) {
                    const option = document.createElement("option")
                    option.classList.add("kecamatan-option")
                    option.setAttribute("value", kecamatan.nama)
                    option.setAttribute("name", kecamatan.id)
                    option.innerText = kecamatan.nama

                    kecamatanListElement.append(option)
                }

                kecamatanListElement.addEventListener("change", function () {
                    resetSelectElement(kelurahanListElement)
                    let namaKecamatan = kecamatanListElement.value;
                    document.getElementById("destination-kecamatan").value = namaKecamatan

                    for (const kecamatan of response.kecamatan) {
                        if (kecamatan.nama === namaKecamatan) {
                            kelurahanListElement.removeAttribute("disabled")
                            kelurahan(kecamatan.id)
                        }
                    }
                })
            }
            index.open("GET",
                `https://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=${kabupatenId}`
            );
            index.send();
        }


        const kota_kabupaten = (provinsiId) => {
            const index = new XMLHttpRequest();
            index.onload = function () {
                const responseText = this.responseText
                const response = JSON.parse(responseText)

                for (const kabupaten of response.kota_kabupaten) {
                    const option = document.createElement("option")
                    option.classList.add("kabupaten-option")
                    option.setAttribute("value", kabupaten.nama)
                    option.setAttribute("name", kabupaten.id)
                    option.innerText = kabupaten.nama

                    kabupatenListElement.append(option)
                }

                kabupatenListElement.addEventListener("change", function () {
                    resetSelectElement(kecamatanListElement)
                    resetSelectElement(kelurahanListElement)

                    let namaKabupaten = kabupatenListElement.value;
                    document.getElementById("destination-kabupaten").value = namaKabupaten

                    for (const kabupaten of response.kota_kabupaten) {
                        if (kabupaten.nama === namaKabupaten) {
                            kecamatanListElement.removeAttribute("disabled")
                            kecamatan(kabupaten.id)
                        }
                    }
                })
            }
            index.open("GET",
                `https://dev.farizdotid.com/api/daerahindonesia/kota?id_provinsi=${provinsiId}`
            );
            index.send();
        }

        const provinsi = () => {
            const index = new XMLHttpRequest();
            index.onload = function () {
                const responseText = this.responseText
                const response = JSON.parse(responseText)


                for (const provinsi of response.provinsi) {
                    const optionElement = document.createElement("option")
                    optionElement.setAttribute("value", provinsi.nama)
                    optionElement.innerText = provinsi.nama

                    provinsiListElement.append(optionElement)
                }

                provinsiListElement.addEventListener("change", function () {

                    resetSelectElement(kabupatenListElement)
                    resetSelectElement(kecamatanListElement)
                    resetSelectElement(kelurahanListElement)


                    let namaProvonsi = provinsiListElement.value;
                    document.getElementById("destination-provinsi").value = namaProvonsi

                    kabupatenListElement.removeAttribute("disabled")
                    for (const provinsi of response.provinsi) {
                        if (provinsi.nama === namaProvonsi) {
                            kabupatenListElement.removeAttribute("disabled")
                            kota_kabupaten(provinsi.id)
                        }
                    }

                })

            }
            index.open("GET",
                "https://dev.farizdotid.com/api/daerahindonesia/provinsi"
            );
            index.send();
        }

        provinsi()
    </script>
</body>

</html>


</body>


</html>