@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.p-4 {
    padding: 1.5rem 0 !important;
    padding-right: 1.5rem !important;
}


.mr-3 {
    margin-right: 0.8rem !important;
    font-size: 20px;
}

#sidebar {
    width: 270px;
    background: #07689F;
    color: #FFFFFF, 100%;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

#sidebar .h6 {
    color: rgb(71, 57, 57)
}

#sidebar.active {
    margin-left: -270px;
    padding-left: 0;
}

#sidebar.active .custom-menu {
    margin-right: -50px
}

#sidebar h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700
}

#sidebar h1 .logo {
    color: #FFFFFF;
}

#sidebar ul {

    list-style-type: none;
}

#sidebar ul.components {
    padding: 0
}

#sidebar ul li {
    font-size: 16px;

}

#sidebar ul li>ul {
    margin-left: 10px
}

#sidebar ul li>ul li {
    font-size: 14px
}

#sidebar ul li a {
    padding: 10px 0 10px 60px;
    display: block;
    color: rgba(255, 255, 255, .6);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;

}

#sidebar ul li a:focus,
#sidebar ul li a:hover {
    color: #FFFFFF !important;
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none
}

#sidebar ul li.active>a {
    background: 0 0;
    color: #333333;
    background-color: #FFC93C;
    list-style: none
}

#sidebar {
    margin-left: -270px
}

#sidebar.active {
    margin-left: 0
}

#sidebar .custom-menu {
    margin-right: -60px !important;
    top: 10px !important
}


#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}


#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%
}


div.card {
    border-radius: 10px;
}

.col-lg-4 .teacher-list img {
    margin: 4%;
    width: 92%;
    min-height: 13.1em;
    max-height: 15em;
    border-radius: 10px;
    object-fit: cover;
}

.teacher-list .card-body {
    padding-top: 0;
}

h5.card-title,
p.card-title,
.card-text {
    margin: 2px;
}

h5.card-title {
    font-weight: 800;
}

.card-text {
    font-weight: 600;
}

div.main-content-with-sidebar {
    margin-left: 270px !important;
    padding: 48px 8px 24px 8px !important;
    background-color: #F9FEFF;;
}

div.main-content-with-sidebar div.row {
    margin: 0;
}

div.main-content-with-sidebar div.col {
    padding: 10px;
}

.text-with-icon {
    display: flex;
    align-items: center;
}

/* icons */

.ri-map-pin-range-line {
    font-size: 20px;
    color: #999999;
    margin-right: 6px !important;
}